<%- include("header") -%> 





<div class="container">
    <div class="card">
      <div class="card_title">
        <h1>Main Page</h1>
        <span style = "color:rgb(94, 147, 41);" >Login Successful!</span>
      </div>
      <hr>
      <div class="form">
          <div class = "dashboard">
        <a href = "/api/signup">SignUp</a>
          &nbsp;
        <a href = "/api/signin">SignIn</a>
</div>
        </form>
      </div>
      <div class = "errors">
    
  </div>
  
    </div>
  
  </div>


</form>

<%- include("footer") -%> 