
<!-- The Modal starts here-->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Room number - xxx</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->

        <div class="modal-body">
            <h4>Room Type</h4>
            <p style = "text-decoration: line-through; margin: 0;">Single</p>
            <p>Double</p>
        </div>
        <div class="modal-body">
            <h4 style = "text-decoration: underline;">Student Details</h4>
          Sorry, Administration access only!
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  <!-- Model Ends here -->