
<div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Roll Number:</label>
      <input type="text" class="form-control" id="recipient-name" name = "name">
    </div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Home Address:</label>
      <input type="text" class="form-control" id="recipient-name" name = "name">
    </div>
    <div>
    <p>Course:</p>
    <fieldset style="display: flex; flex-direction: row">
      <div id="gender-container">
        <div>
          <input type="radio" name="gender" value="Male" />
          <label for="scales">B.Tech</label>
        </div>

        <div>
          <input type="radio" name="gender" value="Female" />
          <label for="scales">M.Tech</label>
        </div>
        <div>
          <input type="radio" name="gender" value="Others" />
          <label for="scales">B.Arch</label>
        </div>
        <div>
          <input type="radio" name="gender" value="Others" />
          <label for="scales">Msc</label>
        </div>
        <div>
          <input type="radio" name="gender" value="Others" />
          <label for="scales">Phd</label>
        </div>
      </div>
    </fieldset>
  </div>
    
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Branch:</label>
      <input type="text" class="form-control" id="recipient-name" name = "name">
    </div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Current Year:</label>
      <input type="text" class="form-control" id="recipient-name" name = "name">
    </div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Year of Joining:</label>
      <input type="text" class="form-control" id="recipient-name" name = "name">
    </div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Permanent Address:</label>
      <input type="text" class="form-control" id="recipient-name" name = "name">
    </div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Contact:</label>
      <input type="text" class="form-control" id="recipient-name" name = "name">
    </div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Hostel:</label>
      <input type="text" class="form-control" id="recipient-name" name = "name">
    </div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Block:</label>
      <input type="text" class="form-control" id="recipient-name" name = "name">
    </div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Room No:</label>
      <input type="text" class="form-control" id="recipient-name" name = "name">
    </div>
</div>
