<%- include("header") -%>

<div class="container">
  <div class="card">
    <div class="card_title">
      <h1>Create Account</h1>
      <span>Already have an account? <a href="/api/signin">Sign In</a></span>
    </div>
    <div class="form">
      <form method="post" action="/api/signup" autocomplete="off">
        <input type="text" placeholder="Full name" name="name" />
        <input type="text" placeholder="Email" name="email" />
        <input type="password" placeholder="Password" name="password" />
        <input type="date" name="dob" class="date" />
        <fieldset style="display: flex; flex-direction: row">
          <legend>Gender:</legend>
          <div id="container">
            <div>
              <input type="radio" name="gender" value="Male" />
              <label for="scales">Male</label>
            </div>

            <div>
              <input type="radio" name="gender" value="Female" />
              <label for="scales">Female</label>
            </div>
            <div>
              <input type="radio" name="gender" value="Others" />
              <label for="scales">Others</label>
            </div>
          </div>
        </fieldset>
        <input class="submit" type="submit" placeholder="SignUp" />
      </form>
    </div>
    <div class="errors">
      <% for(var i = 0; i < alert.length; i++){ %>
      <p>*<%= alert[i] %></p>
      <% } %>
    </div>
  </div>
</div>

<%- include("footer") -%>
